---
layout: default
title: Home
---

#Test

Lorem ipsum. Lorem ipsum. 5.

<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

Strony:
<ul>
  {% for p in site.pages %}
    <li>
      <a href="{{ p.url }}">{{ p.title }}</a>
    </li>
  {% endfor %}
</ul>


```
jakiś kod
```

```sql
SELECT * FROM table
ORDER BY Id
```

I jeszcze ``alfa``.

```csharp
public class Beta {
	public string Alfa { get; set; }
}
```

beta.

- [ ] jeden
- [x] dwa


| Syntax      | Description |
| ----------- | ----------- |
| Header      | Title       |
| Paragraph   | Text        |

